* {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: rgb(50, 56, 61);
    padding: 40px 0px 15px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color:  rgb(50, 56, 61);
    background-color: #39a6b2;
    padding: 10px 12px 5px 60px;
    border-radius: 0px 5px 5px 0px;
}
/* Navigation */
header nav {
    padding: 20px 60px 20px 12px;
    border-radius: 15px 0px 0px 15px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li a {
    color: #39a6b2;
    padding: 0px 15px;
    font-weight: bold;
    font-size: 25px;
}

/* Jumbotron */
.hero {
    height: 600px;
    background-image: url("../images/swiss.JPG");    
    /*background-attachment: fixed;*/
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;    
}

#hero-text {
    margin: 25px 0px;
    color:  rgb(50, 56, 61);
    background-color: #39a6b2;
    padding: 10px 12px 5px 12px;
    border-radius: 15px 0px 0px 15px;
    
}

.hero h1 {
    font-size: 36px;
    font-style: bold;   
    
}

/* About Me */
#about-me {
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-me {
    width: 50%;
}

#about-me div h2 {
    font-weight: bold;
    font-size: 54px;
    height: 200px;
    color: rgb(50, 56, 61);
    border-right-style: solid;
    border-color: rgb(50, 56, 61);
    margin-right: 50%;
    margin-left: 25%;
    text-align: right;
    padding: 10px;
}

#about-me div p {
    color: rgb(50, 56, 61);
    font-size: 18px;
    display: flex;
}

/* Word Section */
#work {
    display: flex;
    justify-content: space-around;
}

aside {
    background: purple;
    height: 100px;
}

div main {
    display: flex;
}

.work-item {
    height: 100px;
}

#section-1 {
    background: green;
}

#section-2 {
    background: blue;
}

#section-3 {
    background: yellow;
}

#section-4 {
    background: lightpink;
}

#section-5 {
    background: lightslategray;
}

/* Contact Me */
footer {
    background: brown;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

