* {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: rgb(50, 56, 61);
    padding: 40px 0px 15px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color:  rgb(50, 56, 61);
    background-color: #39a6b2;
    padding: 10px 12px 5px 60px;
    border-radius: 0px 5px 5px 0px;
}
/* Navigation */
header nav {
    padding: 20px 60px 20px 12px;
    border-radius: 15px 0px 0px 15px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-right: 80px;
}

header nav ul li a {
    color: #39a6b2;
    padding: 0px 15px;
    font-weight: bold;
    font-size: 25px;
}

header nav ul li a:hover {
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

/* Jumbotron */
.hero {
    height: 800px;
    background-image: url("../images/swiss.JPG");    
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;    
}

#hero-text {
    margin: 25px 0px;
    color:  rgb(50, 56, 61);
    background-color: #39a6b2;
    padding: 10px 12px 5px 12px;
    border-radius: 15px 0px 0px 15px;
    
}

.hero h1 {
    font-size: 36px;
    font-style: bold;   
    
}

/* About Me */
#about-me {
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#about-me-1 {
    width: 25%;
}

#about-me-2 {
    width: 75%;
}

#about-me div h2 {
    font-weight: bold;
    font-size: 54px;
    height: 200px;
    color: rgb(50, 56, 61);
    border-right-style: solid;
    border-color: rgb(50, 56, 61);
    text-align: right;
    padding-right: 12px;
}

#about-me div p {
    color: rgb(50, 56, 61);
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-left: 12%;
}

/* Word Section */
#work {
    display: flex;
    height: 900px;
}

aside {
    width: 25%;
    height: 94%;
    color: rgb(50, 56, 61);
    border-right-style: solid;
    border-color: rgb(50, 56, 61);    
}

aside h2 {
    text-align: right;    
    color: rgb(50, 56, 61);
    font-weight: bold;
    font-size: 54px;
    padding-right: 12px;
}

#work article {
    margin: auto;
}

#work article main {
    display: flex;
}

.main-class {
    justify-content: space-between;
}

#work article main {
    margin: 25px auto;
}

.work-item {
    border: solid;
    border-color: #39a6b2;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    border-radius: 15px;
}

.work-item:hover {
    border-color: white;
}

.work-item p {
    color: rgb(50, 56, 61);
    font-size: 24px;
    font-weight: bold;
    background-color: #39a6b2;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 0px 15px 15px 0px;
}

.work-item p span {
    font-size: 12px;
}

#section-1 {
    background: purple;
    background-size: cover;
    width: 750px;
    height: 400px;
}

#section-2 {
    background: blue;
    width: 350px;
    height: 150px;
}

#section-3 {
    background: yellow;
    width: 350px;
    height: 150px;

}

#section-4 {
    background: lightpink;
    width: 350px;
    height: 150px;

}

#section-5 {
    background: lightslategray;
    width: 350px;
    height: 150px;
}

/* Contact Me */
footer {
    display: flex;
    justify-content: space-between;
}

.contact-me {
    width: 25%;
    height: 94%;
    color: rgb(50, 56, 61);
    border-right-style: solid;
    border-color: rgb(50, 56, 61); 
}

footer h3 {
    text-align: right;    
    color: rgb(50, 56, 61);
    font-weight: bold;
    font-size: 54px;
    padding-right: 12px;
}

.contact-info ul {
    list-style: none;
    width: auto;
    display: flex;
    justify-content: space-around;
    color: #39a6b2;
    padding: 0px 300px;
    font-weight: bold;
    font-size: 25px;
}

.contact-info ul li {
    padding: 12px;
}

.contact-info ul li a {
    text-decoration: none;
    color: #39a6b2;
}